.register__button-save{
    width: 358px;
    height: 50px;
    margin: 186px auto 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
}
.register__button-save:hover {
    opacity: 0.8;
    cursor: pointer;
}