.places__name {
    color: black;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    align-self: baseline;
}